*{
	background: #3F4E5F;	
}

h1{
	color: white;
}

.tt{height: 20px;
		width: 12rem;
		background: white;
		padding: 10px;
		border-radius: 10px;
		right: 20px;
	    	top: 15vh;
		position: fixed;
	}	

span{
	background: white;
}	

input{
	margin-left:35px;
	margin-top: 10px;
	outline: none;
	border: none;
	border-bottom: 2px solid #000;
	background: floralwhite;
}

button{
	height: 35px;
	width: 70px;
	background: #fff;
	border-radius: 10px;
	left: 50%;
	position: relative;
	display: flex;
	margin-left: 10px;
}


.s-q1{ display: block; }

.s-q2, .s-q3, .s-q4, .s-q5,
.s-q6, .s-q7, .s-q8, .s-q9, .s-q10, 
.s-q11, .s-q12, .s-q13, .s-q14, .s-q15, 
.s-q16, .s-q17, .s-q18, .s-q19, .s-q20,
.s-q21, .s-q22, .s-q23, .s-q24, .s-q25,
.s-q26, .s-q27, .s-q28, .s-q29, .s-q30, 
.s-q31, .s-q32, .s-q33, .s-q34, .s-q35, 
.s-q36, .s-q37, .s-q38, .s-q39, .s-q40, 
.s-q41, .s-q42, .s-q43, .s-q44, .s-q45, 
.s-q46, .s-q47, .s-q48, .s-q49, .s-q50, .sum{
	display: none;
}



.s-q1{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}
	


.s-q2{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q3{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}

 

 .s-q4{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q5{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q6{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q7{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q8{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q9{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q10{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q11{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q12{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q13{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q14{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q15{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q16{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q17{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q18{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q19{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q20{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q21{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q22{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q23{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q24{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q25{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q26{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q27{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q28{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q29{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q30{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q31{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q32{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q33{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q34{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q35{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q36{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q37{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q38{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q39{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q40{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q41{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q42{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q43{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q44{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q45{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q46{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q47{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q48{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q49{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}



.s-q50{
	background: floralwhite;
	height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}


.sum{
	height: 50px;
	font-size: 50px;
}
