body{
	background: #3F4E5F;
	color: green;
}
body.h1{ color: white; }

input{
	margin-left:35px;
	margin-top: 10px;
	outline: none;
	border: none;
	border-bottom: 2px solid #000;
	background: floralwhite;
}

button{
	height: 35px;
	width: 70px;
	background: #fff;
	border-radius: 10px;
	margin-left: 10px;
}
.btn{
        display: flex;
	gap: 0.6rem;
	margin-top: .7rem;
}

.s-q1{
	display: block;
	background: white;
	min-height: 200px;
	padding: 10px;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.s-q2, .s-q3, .s-q4, .s-q5,
.s-q6, .s-q7, .s-q8, .s-q9, .s-q10, 
.s-q11, .s-q12, .s-q13, .s-q14, .s-q15, 
.s-q16, .s-q17, .s-q18, .s-q19, .s-q20,
.s-q21, .s-q22, .s-q23, .s-q24, .s-q25,
.s-q26, .s-q27, .s-q28, .s-q29, .s-q30, 
.s-q31, .s-q32, .s-q33, .s-q34, .s-q35, 
.s-q36, .s-q37, .s-q38, .s-q39, .s-q40, 
.s-q41, .s-q42, .s-q43, .s-q44, .s-q45, 
.s-q46, .s-q47, .s-q48, .s-q49, .s-q50, .sum{
	display: none;
	background: white;
	min-height: 200px;
	padding: 20px;
	border-radius: 10px;
	margin-left: 40px;
	margin-right: 40px;
}

.sum{
	height: 50px;
	font-size: 50px;
}
